---
layout: splash
author_profile: false
permalink: /photography/
header:
  image: /assets/images/seaside.jpg

gallery-views:
  - url: /assets/images/peak.jpg
    image_path: /assets/images/peak.jpg
    title: "Denali National Park, AK"
  - url: /assets/images/ggb.jpg
    image_path: /assets/images/ggb.jpg
    title: "San Francisco, CA"
gallery-views2:
  - url: /assets/images/denaliscape.jpg
    image_path: /assets/images/denaliscape.jpg
    title: "Denali National Park, AK"


gallery-wild:
  - url: /assets/images/zebra.jpg
    image_path: /assets/images/zebra.jpg
    title: "Maasai Mara National Reserve, Kenya"
  - url: /assets/images/avocet.jpg
    image_path: /assets/images/avocet.jpg
    title: "Palo Alto, CA"
gallery-wild2:
  - url: /assets/images/flower.jpg
    image_path: /assets/images/flower.jpg
    title: "Denali National Park, AK"


gallery-urban:
  - url: /assets/images/berlin.jpg
    image_path: /assets/images/berlin.jpg
    title: "Berlin, Germany"
  - url: /assets/images/tram.jpg
    image_path: /assets/images/tram.jpg
    title: "Lisbon, Portugal"
gallery-urban2:
  - url: /assets/images/bostonice.jpg
    image_path: /assets/images/bostonice.jpg
    title: "Boston, MA"

gallery-vignette:
  - url: /assets/images/cactus.jpg
    image_path: /assets/images/cactus.jpg
    title: "Santa Barbara, CA"
  - url: /assets/images/cookies.jpg
    image_path: /assets/images/cookies.jpg
    title: "Monterey, CA"
gallery-vignette2:
  - url: /assets/images/tank.jpg
    image_path: /assets/images/tank.jpg
    title: "Monterey, CA"
gallery-vignette3:
  - url: /assets/images/carview.jpg
    image_path: /assets/images/carview.jpg
    title: "Palo Alto, CA"
  - url: /assets/images/lifesaver.jpg
    image_path: /assets/images/lifesaver.jpg
    title: "Galapagos National Park, Ecuador"
gallery-vignette4:
  - url: /assets/images/citysky.jpg
    image_path: /assets/images/citysky.jpg
    title: "Nazare, Portugal"
---

<br><br><br>

{% include gallery id="gallery-views" %}
{% include gallery id="gallery-views2" %}

<br><br><br>

{% include gallery id="gallery-wild" %}
{% include gallery id="gallery-wild2" %}

<br><br><br>

{% include gallery id="gallery-urban" %}
{% include gallery id="gallery-urban2" %}

<br><br><br>

{% include gallery id="gallery-vignette" %}
{% include gallery id="gallery-vignette2" %}
{% include gallery id="gallery-vignette3" %}
{% include gallery id="gallery-vignette4" %}

<br><br><br>
