---
layout: single
author_profile: true
permalink: /research/
---

<h3 class="archive__subtitle" style="color:#33A2FF">conference papers</h3>
<br>
<p>Leilani H. Gilpin, David Bau, Ben Z. Yuan, <b>Ayesha Bajwa</b>, Michael Specter and Lalana Kagal. <a href=https://dsaa2018.isi.it/program/accepted-papers>Explaining Explanations: An Overview of Interpretability of Machine Learning.</a> IEEE International Conference on Data Science and Advanced Analytics 2018, Turin.</p>
<br>

<h3 class="archive__subtitle" style="color:#33A2FF">posters</h3>
<br>
<p>Smriti Pramanick*, <b>Ayesha Bajwa</b>*, Jessica Werk. <a href=http://adsabs.harvard.edu/abs/2014AAS...22345409P>The Distribution of Oxygen in the Magellanic Clouds.</a> The American Astronomical Society Conference 2014, Washington DC.</p>
<br>

<!--
<h3 class="archive__subtitle" style="color:#33A2FF">other</h3>
<br>
<p>Blog posts.</p>
<br>
-->

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}