---
layout: single
author_profile: true
permalink: /research/
---

<h3 ><a href=https://dblp.uni-trier.de/pers/hd/b/Bajwa:Ayesha>DBLP author page</a></h3>
<br><br>

<h3 class="archive__subtitle" style="color:#33A2FF">papers</h3>
<br>

<b>Ayesha Bajwa</b>*, Ruchir Rastogi*, Pooja Kathail*, Richard Shuai, and Nilah Ioannidis. Characterizing uncertainty in genomic sequence-to-activity models. Machine Learning for Computational Biology 2023, Seattle, WA.

Bertie Ancona, <b>Ayesha Bajwa</b>, Nancy A. Lynch, and Frederik Mallmann-Trenn. How to Color a French Flag--Biologically Inspired Algorithms for Scale-Invariant Patterning. LATIN: Latin American Symposium on Theoretical Informatics 2020, São Paulo, Brazil.

<br><br>

<b>Ayesha Bajwa</b>, Ana Bell, Erik Hemberg, and Una-May O'Reilly. <a href=https://ieeexplore.ieee.org/document/8939666/>Analyzing Student Code Trajectories in an Introductory Programming MOOC.</a> IEEE Learning With MOOCs 2019, Milwaukee, WI, USA. 

<br><br>

<i>Winner of the Best Student Paper Award</i><br>
Jitesh Maiyuran, <b>Ayesha Bajwa</b>, Ana Bell, Erik Hemberg, and Una-May O'Reilly. <a href=https://ieeexplore.ieee.org/document/8939643/>How Student Background and Topic Impact the Doer Effect in
Computational Thinking MOOCs.</a> IEEE Learning With MOOCs 2019, Milwaukee, WI, USA. 

<br><br>

Sagar Biswas, <b>Ayesha Bajwa</b>, Erik Hemberg, Nancy Law, and Una-May O'Reilly. <a href=https://ieeexplore.ieee.org/document/8939650/>Categorizing Resources and Learners for a Finer-Grained Analysis of
MOOC Viewing & Doing.</a> IEEE Learning With MOOCs 2019, Milwaukee, WI, USA. 

<br><br>

Bertie Ancona, <b>Ayesha Bajwa</b>, Nancy A. Lynch, and Frederik Mallmann-Trenn. <a href=https://link.springer.com/chapter/10.1007/978-3-030-24922-9_22>How to Color a French Flag--Biologically Inspired Algorithms for Scale-Invariant Patterning.</a> SIROCCO: International Colloquium on Structural Information and Communication Complexity 2019, L'Aquila, Italy. (Brief Announcement Track)

<br><br>

Leilani H. Gilpin, David Bau, Ben Z. Yuan, <b>Ayesha Bajwa</b>, Michael Specter, and Lalana Kagal. <a href=https://arxiv.org/abs/1806.00069>Explaining Explanations: An Overview of Interpretability of Machine Learning.</a> IEEE International Conference on Data Science and Advanced Analytics 2018, Turin, Italy.

<br><br>


<h3 class="archive__subtitle" style="color:#33A2FF">workshops</h3>
<br>

Bertie Ancona, <b>Ayesha Bajwa</b>, Nancy A. Lynch, and Frederik Mallmann-Trenn. How to Color a French Flag--Biologically Inspired Algorithms for Scale-Invariant Patterning. <a href=https://snl.salk.edu/~navlakha/BDA2019/>7th Workshop on Biological Distributed Algorithms</a> at PODC 2019, Toronto, Canada.

<br><br>

<h3 class="archive__subtitle" style="color:#33A2FF">posters</h3>
<br>

<b>Ayesha Bajwa</b>, Ana Bell, Erik Hemberg, and Una-May O'Reilly. Student Code Trajectories in an Introductory Programming MOOC. Learning at Scale 2019, Chicago IL, USA. (Work-In-Progress Track)

<br><br>

Smriti Pramanick, <b>Ayesha Bajwa</b>, Jessica Werk. <a href=http://adsabs.harvard.edu/abs/2014AAS...22345409P>The Distribution of Oxygen in the Magellanic Clouds.</a> American Astronomical Society 2014, Washington DC, USA.

<br><br>


<h3 class="archive__subtitle" style="color:#33A2FF">other</h3>
<br>

My 2019 MIT <a href=https://alfagroup.csail.mit.edu/sites/default/files/documents/2019.Ayesha-Bajwa.Analyzing_Student_Learning_Trajectories_in_an_Introductory_Programming_MOOC.pdf>MEng thesis</a> on student learning in MOOCs.

<br><br>

Post on <a href=https://medium.com/@ayesharbajwa/what-we-talk-about-when-we-talk-about-bias-a-guide-for-everyone-3af55b85dcdc>bias in ML systems</a>, adapted from my essay for an Ethics and Governance of AI class (Spring 2018).

<br><br>

<!--
<h3 class="archive__subtitle" style="color:#33A2FF">other</h3>
<br>
Blog posts.

<br><br>
<br>
-->

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}