---
layout: archive
---

<div style="clear: left;">
<p style="float: left;">

    <h3 style="color:#74D58C"> hello there! </h3>
	<br>I am a first-year PhD student in EECS at UC Berkeley. Previously, I studied EECS (SB '18, MEng '19) at MIT and worked for three years as a software engineer at <a href=https://grail.com/>GRAIL</a>.
	<br><br>

	<h3 class="archive__subtitle" style="color:#FFC433">research</h3>
	<br>
	My current academic interests are in applying machine learning and mathematical modeling to problems in computational genomics and human disease.
	<br><br>I previously worked with CSAIL's Theory Group on a biological algorithms problem, CSAIL's ALFA group studying various problems in the MOOC space, and with CSAIL's Internet Policy Research Initative studying privacy policies. I've also contributed to projects in climate science, telemedicine, bioengineering, and astrophysics.
	<br><br>

	<h3 class="archive__subtitle" style="color:#FFC433">education</h3>
	<br><br><b>Electrical Engineering & Computer Science at UC Berkeley.</b> <br> PhD Student, 2022-?
	<br><br><b>Electrical Engineering & Computer Science at MIT.</b> <br> SB 2018, MEng 2019. 
	<br><br> <b>Engineering at Queens' College, University of Cambridge.</b> <br> MIT-Cambridge Exchange, 2016-2017.
	<br><br> <b>Castilleja School.</b> Class of 2014.
	<br><br>

	<h3 class="archive__subtitle" style="color:#FFC433">employment</h3>
	<br> From 2019-2022, I worked on data infrastructure as a software engineer at <a href=https://www.grail.com>GRAIL</a>.
	Previously, I interned at the <a href=https://open.blogs.nytimes.com/2016/08/12/why-we-should-all-digest-our-data/>New York Times</a> and <a href=http://www.sitkatech.com/news-events/blog/sitka-blog_082917/>Sitka Technology Group</a>.
	<br><br>

	<h3 class="archive__subtitle" style="color:#FFC433">teaching</h3>
	<br>I've been a lab and teaching assistant for a few MIT EECS classes, including Introduction to Machine Learning. I've also tutored, <a href=https://medium.com/@ayesharbajwa/four-weeks-1237fa22d4ee>taught in a high school classroom</a>, and staffed outreach programs. 
	<br><br>
</div>