---
layout: archive
---

<div style="clear: left;">
<p style="float: left;">
    <img src="/assets/images/me.jpg" style="margin-right:50px; margin-left:25px;"></p>

	<br>

    <h3 style="color:#74D58C"> hello there! </h3>

	<br>

    I'm a recent graduate of MIT, where I studied Electrical Engineering & Computer Science (SB '18, MEng '19) and a software engineer at <a href=https://grail.com/>GRAIL</a> working on our data infrastructure.

	<br><br>

	I have a variety of research interests and have worked on a wide range of projects in the past. Feel free to get in touch!
</div>